@import "variables";
@import "mixins";

body {
  margin: 0;
  background: $colorBg;
  color: var(--color-font-main);
  font-family: 'Roboto', sans-serif;
  letter-spacing: -0.02em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.modal-content {
  border: none;
  border-radius: 24px;
}