@mixin category {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  text-transform: uppercase;
  opacity: 0.5
}

@mixin productName {
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  &::first-letter {
    text-transform: uppercase;
  }
}

@mixin price {
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
}