@import "../../styles/variables";

.input {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius:16px;
  padding:16px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  margin: 8px 0;
  width: 100%;
  &:focus { 
    outline:none;
  }
}

.error {
  border: 1px solid var(--color-highlight-errors);
}

.success {
  border: 1px solid var(--color-buttons-main);
}

.errorMessage {
  font-size: 12px;
  color: var(--color-highlight-errors);
  margin: 0;
  float: left;
  margin-left: 12px;
  margin-top: -4px;
}

.close {
  background-color: var(--color-highlight-errors);
  color: white;
  width: 24px;
  height: 24px;
  border-radius: 24px;
  right: 0;
  float: right;
  margin-right: -8px;
  z-index: 22;
  position: relative;
  cursor: pointer;
  margin-top: -72px;
}